#about
  margin 30px auto

  .entry-tag
    font-weight bold
    font-size 14px
    text-transform uppercase
    text-align center
    position absolute
    left 320px
    width 100px
    top 44px
    .glyphicon
      left 30px
      top 20px
      position absolute
      color white
      font-size 40px

    .hexagon
      width 80px
      height 80px

    .text
      display block
      margin-top 6px

  img.cover
    width 100%