.popover.tip.tip-bottom,
.popover.tip.tip-top
  background: none
  border: none
  box-shadow: none
  -webkit-box-shadow: none

  a,button
    display: block

  a
    margin-top: 8px
    margin-bottom: 8px
    font-size: 14px

  .btn.form-submit
    background-color: #333333
    color: #ffffff
    font-size: 11px
