article.bill-proposal
  .main-content
    h1 Ley de agroecología urbana

    .author-wrapper
      .author
        img(src="http://onlineshop.origamiorigami.com/photos/product/g/gil-scott-heron-free-will-256px-256px.jpg")
        p
          span Autor:&nbsp;
          a(href="#") Pablo Bergel
        p
          span Bloque:&nbsp;
          a(href="#") Bloque Bien Común

    .pic(style="background-image: url(http://cdn.mejorconsalud.com/wp-content/uploads/2013/10/huerta-500x325.jpg)")
      span

    p.desc El objetivo es promover en la Ciudad prácticas agroecológicas como un sistema de producción, distribución, consumo y compostaje. Esto se logra mediante la promoción de la agricultura urbana, los mercados agroecológicos, integrando nivel familiar, institucional (escuelas y hospitales) y barrial.

    a.link(href="#") Ver texto original

  .actions
    .vote-selector
      h2 ¿Qué tanto te interesa este proyecto?
      ul
        li
          span Nada
        li
          span Poco
        li
          span Algo
        li.active
          span Mucho

    .prev
      span Volver
    .next
      span Saltear