#bill-proposal-demo-index
  margin: 0 auto
  padding: 2em 0
  max-width: 1024px

  .bill-proposal
    float: left
    width: 100%
    max-width: 32%
    margin-right: 2%

    &:last-child
      margin-right: 0


#bill-proposal-demo-show
  margin: 0 auto
  padding: 2em 0
  max-width: 980px

  @media screen and (min-width: 600px)
    bill-proposal-big()
