- var voted = citizen.logged() && !!item.voted

li(data-id=item.id)
  a(href='/#{listType}/'+item.id, class = voted ? 'voted' : '')
    .item-badges
    span.title= item.mediaTitle
    span.created-by
      - if (item.participants.length > 0)
        - var plural = 1 === item.participants.length ? '' : 's'
        div= item.participants.length + ' ' + t('Participant') + plural