nav.sidebar-nav
  #filter-container.dropdown-department

  #list-container

  #footer-container
    div Con tecnología de
    div: a(href='http://democraciaenred.org/', target='_blank')
      img(src='/lib/sidebar/dos-logo.svg')